body {
    margin: 0px;
    font-family: "Lucida Console";
    font-variant: small-caps;
  }
  ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
  }
  .nav > li > a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    color:#333;
  }
  .nav > li a:hover {
    color: red;
  }
  .nav > li > a:visited {
    color:#333;
  }
  .main {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 50%;
    padding: 10px;
    text-align: center;
  }

  ::selection {
    color: red;
    background-color: #333;
  }
  footer {
    text-align: center;
  }

  table{
    width: 100%;
  }
  td{
    width: 50%;
  }
  .section{
    margin-bottom: 50px;
  }